<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Now</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/js/signup-validation.js"></script>

</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <%- include('../partials/_banner.ejs') %>

      <%- include('../partials/_breadcrumbs.ejs') %>

        <div class="signinContainer">
          <div class="loginContainer">
            <div class="loginHeader">Join Now</div>
            <form id="signupForm" action="/auth/sign-up" method="POST">
              <input type="text" placeholder="Username" name="username" id="username" required />
              <div id="usernameError" class="error-message"></div>

              <input type="password" placeholder="Password" name="password" id="password" required />
              <div id="passwordError" class="error-message"></div>

              <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"
                required />
              <div id="confirmError" class="error-message"></div>

              <button type="submit" id="submitBtn" disabled>Join</button>
            </form>


          </div>
        </div>

        <%- include('../partials/_footer.ejs') %>

</body>

</html>