<div class="breadcrumbs">
  <span><a href="/">Home</a></span>
  <% breadcrumbs.forEach(crumb => { %>
    <% if (crumb.name !== "auth") { %>
      >
      <% if (crumb.isLast) { %>
        <span><%= crumb.name %></span>
      <% } else { %>
        <a href="<%= crumb.url %>"><%= crumb.name %></a>
      <% } %>
    <% } %>
  <% }); %>
</div>
