<nav>
  <div class="logo">
    <img src="/images/logo.png" alt="logo">
  </div>

  <div class="buttons">
    <a href="/">Explore</a>

    <% if (user) { %>
      <a href="/activities">My Activities</a>
      <a href="/auth/sign-out">Sign out</a>
      <% } else { %>
        <a href="/auth/sign-up">Sign up</a>
        <a href="/auth/sign-in">Sign in</a>
        <% } %>
  </div>

</nav>