<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteers Hub</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

    <div class="messageContainer">
      <div class="internalContainer">
        <div class="messageHeader">
          <%= title %>
        </div>
        <h2>
          <%= message %>
        </h2>

        <p id="counter">You will be redirected within... 3</p>
      </div>
    </div>
</body>

<script>
  let counter = 2;
  const counterElement = document.getElementById("counter");

  const interval = setInterval(() => {
    counterElement.innerText = `You will be redirected within... ${counter}`;
    counter--;

    if (counter < 0) {
      window.location.href = '<%= url %>';
    }
  }, 1000);

</script>

</html>